<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807769445399-0bm967uo2be0e9pnv3lhro9g2npf1ak9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807769445399-0bm967uo2be0e9pnv3lhro9g2npf1ak9</string>
	<key>API_KEY</key>
	<string>AIzaSyCsE5hmfsE6pAaA4qDfKsNaEFnEx1unLrg</string>
	<key>GCM_SENDER_ID</key>
	<string>807769445399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.globalworldtech.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-14d1a</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-14d1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807769445399:ios:15de9b48057c9bf1e6f852</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-14d1a-default-rtdb.firebaseio.com</string>
</dict>
</plist>